// Users Component
.login,
.logout,
.registration,
.profile-edit,
.remind,
.reset {
    input {
        border: 1px solid $border-color-light;
        background: $white;
        border-radius: 0px;
    }

    .btn {
        @extend %g-button;
        margin-right: 10px;
    }

    .controls {
        #helpsite-refresh {
            font-size: $core-font-size - 0.3;
            border-radius: $core-border-radius;
            padding: 0.8rem 1rem;
            margin-left: 5px;
        }
    }
    .page-header h1{
      font-weight: $font-weight-regular !important;
    }
}
.view-registration, .view-login, .view-reset, .view-remind, .contact-form {
  .well {
      border: none;
      border-radius: 0;
      box-shadow: none;
      padding: 30px !important;
      background: #ffffff;
      box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.03);
    }
}
